{
    "gmail": [
        {
            "mail": "",
            "password": "",
            "port": 587,
            "server": "smtp.gmail.com",
            "port_php": 465,
            "name": ""
        }
    ],
    "mail_to": "",
    "database": [
        {
            "host": "",
            "user": "",
            "passwd": "",
            "database": ""
        }
    ]
}